.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
    width: 100%;
    background: linear-gradient(#efdecd, #f48403);
  }
  
  .login form {
    text-align: center;
    margin-top: 50px;
  }
  
  .login form input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 45px;
    border: none;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
    border-radius: 0;
    padding: 0;
  }
  
  .login form input::placeholder {
    color: #ffffff;
    opacity: 1;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #f48403 inset !important; 
    -webkit-text-fill-color:#ffffff !important;
  }
  
  .wrapper-form {
    width: 350px;
    padding: 25px;
    background-color: #f48403;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-title{
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: rgba(0,0,0,.6);
  }
  
  .login-button{
    padding: 10px 28px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 15px;
    background: #efdecd;
    color:#f48403;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
  }
  
  .login-button:hover {
    background: #f48403d7;
    color: #fff;
    box-shadow: 0 0 5px #f48403d7,
                0 0 25px #f48403d7,
                0 0 50px #f48403d7,
                0 0 100px #f48403d7;
  }
  